# Force the display of TeX files, etc.
ForceType	text/plain

# Display text
ReadmeName ChangeLog

AddDescription "Subdural mutations"	ChangeLog
AddDescription "License"		COPYING
AddDescription "Serial list"		MANIFEST
AddDescription "Visible changes"	NEWS
AddDescription "Installation"		README
AddDescription "Parser header"		wikitex.inc.php
AddDescription "Parser"			wikitex.php
AddDescription "Shell interface"	wikitex.sh
AddDescription "Shell header"		wikitex.inc.sh
AddDescription "PPCH-TeX"		wikitex.chem.inc.tex
AddDescription "LaTeX Chess"		wikitex.chess.inc.tex
AddDescription "Generic error"		wikitex.error.inc.tex
AddDescription "Feynman diagrams"	wikitex.feyn.inc.tex
AddDescription "Go"			wikitex.go.inc.sgf
AddDescription "Graphviz"		wikitex.graph.inc.dot
AddDescription "Ibycus"			wikitex.greek.inc.tex
AddDescription "AVM, Parsetree"		wikitex.ling.inc.tex
AddDescription "AMS-LaTeX"		wikitex.math.inc.tex
AddDescription "Lilypond"		wikitex.music.inc.tex
AddDescription "Gnuplot"		wikitex.plot.inc.p
AddDescription "Tengwar"		wikitex.teng.inc.tex
AddDescription "TIPA"			wikitex.tipa.inc.tex
AddDescription "XyMTeX"			wikitex.xym.inc.tex
AddDescription "SVG"			wikitex.svg.inc.svg
AddDescription "Xvfb"			xvfb
AddDescription "Batik toolkit"		wikitex.batik.inc.svg
